    * {
        box-sizing: border-box;
    }

    body {
        font: 16px/24px Helvetica, Sans-Serif; /* устанавливаем для всего боди шрифт (размер, тип) */
        margin: 0; /* убираем рамку вокруг боди, она есть по умолчанию у браузеров, т.е. ьраузеры имеют дефолтные стили
        ксли нам это не устраивает то переопределяем нужный параметр */
    }

    .kartinka {
        position: relative;
    }

    .kartinka img {
        object-fit: cover; /* делаем чтобы картинка вписалась в рамку без искажений */
    }

    .tekst_sverhu_kartinki {
        position: absolute;
        top: 50%; /* сдвигаем текст на 50% нижеб но это по верхней границе, т.е. верх текста будет посередине */
        transform: translateY(-50%); /* а тут сдвигаем текст на 50% выше, только не от всей высоты блока а высоты текства и в итоге имеет тект ровно по середине блока */
        left: 0; /* сдвигаем влево до нуля */
        width: 100%; /* растягиваем на всю ширину родителя */
        text-transform: uppercase; /* верхний регистр */
        color: rgb(248, 244, 9);
        text-align: center; /* по центру выравнивание горизонтальное */
        font: bold 40px/50px Helvetica, Sans-Serif; /* размер и тип шрифта, тут есть момент так как мы указали для всего боди, */
        /* то тут можно было указать только размер и толщину см ниже... */

        /* font-size: 40px;
        line-height: 50px;
        font-weight: bold; */
    }
    
    hr {
        margin: 25px 0; /* делаем внешние отсупы 25px = верх/низ  0 = лево/право */
    }

    .form-wrapper {
        padding: 0 0 50px 0; /* делаем внутренние отсупы и читаем так - верх право низ лево, т.е тут установили снизу 50пх остальные 0 */
    }

    form {
        max-width: 600px; /* установливаем макс ширину для формы */
        width: 100%; /* разтягиваться максимально на 100% но до max-width:600px */
        margin: 0 auto; /* это классная фишка, выраниваем форму по горизонтали, читаем так утсановить отсупы верх/низ = 0,
        лево/право = auto, и браузеры делают слева и права одинаковые отступы и таким образом блок по центру становится */
        padding: 25px; /* это внутренние отступы у формы, добавляем везде 25пкс */
        background: rgb(231, 231, 231); /* цыет фона формы */
        border-radius: 6px; /* радиус углов формы */
        font-size: 16px; 
    }

    form label {
        display: block;
        margin-bottom: 10px; /* делаем нижний отступ в 10пкс */
    }

    form .form-control-wrapper {
        margin-bottom: 25px; /* я обернул лейбл и инпут в блок, можно убтрать br так как блоки занимают всю шрину и тут даем отступ снизу */
    }

    form .form-control { /* для инпута и текстареа я создал этот класс см. в форме */
        width: 100%; 
        border: none; /* убираем рамку */
        outline: none; /* убираем рамку когда курсор в поле */
        padding: 15px; /* вниренние отступы */
        box-sizing: border-box; /* потмо объясню )) */
        font-size: 16px;
        border-radius: 6px; /* радиус углов */
        font-family: Arial, Sans-Serif; /* шрифт  */
    }

    form .form-submit { /* кнопка оттравить все как и выше  */
        padding: 15px;
        background: rgb(150, 0, 0);
        border: none;
        color: rgb(204, 201, 17);
        border-radius: 6px;
        font-size: 16px;
    }

    form .form-submit:hover {  /* это часто используетсяб называется псевдо класс, 
        т.е. его нет в верстке но браузер его как бы добаляет у себя в мозгах когда курсор находится над элементом.
        записыывается как имя_класса:hover */
        background: rgb(100, 0, 0);
        cursor: pointer; /* делаем курсор указателем - пальчиком */
    }